.cards{
padding-top: 50px;
padding-left: 30px;
padding-right: 30px;
display: flex;
justify-content: space-evenly;
}
.Trendingtopics{
height: 733px;
width: 419px;
border-radius: 5px;
background: #F6F6F6;
}
